
.emailInputDiv {
    width: 50%;
    margin: 10% auto 5% auto;
    padding: 2%;
    border-style: solid;
    border-radius: 15px;
    background-color: blanchedalmond;
    border-color: #3498db;
}

.divHeading {
    font-size: x-large;
}

.divSubmitBtn {
    display: block;
    margin: 0 auto;
}

.resetPasswordDiv {
    width: 50%;
    margin: 5% auto 5% auto;
    padding: 2%;
    border-style: solid;
    border-radius: 15px;
    background-color: blanchedalmond;
    border-color: #3498db;
}

.validationError {
    color: red;
    text-align: center;
    padding-top: 2%;
}


/***** mobile specific *****/
@media only screen and (max-width: 600px) {
    .emailInputDiv {
        width: 90%;
        margin-top: 25%;
        padding:5%;
    }

    .resetPasswordDiv {
        width: 90%;
        margin-top: 20%;
        padding:5%;
    }
}